@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bgcolor:#000000;
    --second-bg-color:#ffffff;
    --text-color:#fff;
    --main-color:#ff9b19;
    --second-text-color: black;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bgcolor);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bgcolor);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover {
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
color: var(--main-color);
border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
@media (max-width:995px) {
    #menu-icon{
        display: block;
    }
    .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background-color: var( --second-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active{
        padding:1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bgcolor);
}
.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: var(--main-color);
}
.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow:  0 0 25px var(--main-color);
    cursor: pointer;
}
.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}
.social-icon a:hover {
    color:black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bgcolor);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border:  2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow:  0 0 25px var(--main-color);
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-text span::after {
    content: '';
    background: var(--bgcolor);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bgcolor);
    right: -8;
    animation: cursor 0.6s infinite, typing 20 sec steps(14) infinite;
}
@keyframes cursor {
    to{
        border-left: 3px solid var(--main-color);
    }
}
@keyframes words {
    0%, 20% {
        content: 'Web Designer';
    }
    21%, 40% {
        content: 'Photographer';
    }
    41%, 60% {
        content: 'App Designer';
    }
    61%, 80% {
        content: 'Artist';
    }
    81%, 100% {
        content: 'Gym Athlete';
    }
}
@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
    
}


/* Remove circle-1 and about-circle */
.circle-1,
.about-circle {
    display: none;
}

/* Style the home-img and about-img */
.home-img img,
.about-img img {
    width: auto; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    border-radius: 50%; /* Make it circular */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow */
    object-fit: cover; /* Ensure the image covers the entire circle */
    object-position: center; /* Center the image within the circle */
}

/* Style the about-img */
.about-img {
    width:2000px; /* Set a fixed width */
    height: 500px; /* Set a fixed height */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflowing content */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow */
    transition: box-shadow 0.3s ease;
}
.about-img:hover {
    box-shadow: 0 0 30px rgb(0, 0, 0); /* Change shadow color on hover */
}

.about-img img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Ensure the image covers the entire circle */
    object-position: center; /* Center the image within the circle */
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}


.heading{
    text-align: center;
    font-size: 8rem;
}
span{
    color: var(--main-color);
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
    color: var(--second-text-color);
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--second-text-color);
}

.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
    background: var(--bgcolor);
}
.timeline-section h2 {
    margin-bottom: 5rem;
}
.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: '';
    position: absolute;
    width: 5px;
    height: calc(100% - 21px); /* Adjust height to reach the bottom of the dot */
    background-color: var(--main-color);
    left: calc(50% - 1px);
    top: 31px; /* Adjust top position to align with the dot */
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-last-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    margin: 6px 0 15px;
    color: var(--text-color);
}
.timeline-content {
    background-color: var(--main-color);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(244, 244, 244, 0.25);
    padding: 30px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}
.timeline-content:hover {
    transform: scale(1.05);
}
.timeline-content h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    font-size: 16px;
    font-size: 400;
    line-height: 22px;
}

.services {
    background-color: var(--second-bg-color);
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.services-box {
    background-color: var(--main-color);
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3 ease;
}
.services-box:hover {
    background: rgb(248, 236, 2);
    color: var(--main-color);
    transform: scale(1.03);
}
.services-box .services-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}
.services h2 {
    color: var(--second-text-color);
}
.services-info h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--second-text-color);
}
.services-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
    color: var(--second-text-color);
}

.projects {
    background-color: var(--bgcolor);
    padding: 5rem 0; /* Adjust padding as needed */
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for the top row */
    gap: 2rem;
    margin-top: 2rem; /* Adjust margin as needed */
}

.project-box {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.project-box img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 1rem;
    text-align: center;
}

.project-info h3 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.project-info p {
    font-size: 1.4rem;
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for the bottom row */
    }
}



.skills {
    background-color: var(--bgcolor);
}
.skills h2 {
    margin-bottom: 2rem;
}
.skills{
    margin: 0 auto;
}
.skills-bar {
    margin-top: 8rem;
    padding: 25px 30px;
    background: var(--bgcolor);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.skills-bar .bar{
    margin: 20px 0;
}
.skills-bar .bar:first-child {
    margin-top: 0;
}
.skills-bar .bar .info {
    margin-bottom: 5px;
}
.skills-bar .bar .info span {
    color: var(--text-color);
    font-weight: 500;
    font-size: 17px;
}
.skills-bar .bar .progress-line {
    height: 10px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
}
.skills-bar .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.skills-bar .bar .progress-line.python span {
    width: 60%;
    background: gold;
}
.skills-bar .bar .progress-line.javascript span {
    width: 70%;
    background: gold;
}
.skills-bar .bar .progress-line.html span {
    width: 90%;
    background: gold;
}
.skills-bar .bar .progress-line.css span {
    width: 75%;
    background: gold;
}
.skills-bar .bar .progress-line.mysql span {
    width: 30%;
    background: gold;
}

/* Gallery section */
.gallery {
    background-color: var(--second-bg-color);
    padding: 5rem 0; /* Adjust padding as needed */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem; /* Adjust margin as needed */
}

.gallery-box {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.gallery-box img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease; /* Add transition effect */
}
.gallery h2 {
    color: var(--second-text-color);
}

.gallery-box:hover img {
    transform: scale(1.05); /* Scale up on hover */
}





.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--main-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover {
    transform: scale(1.2) translate(-10px);
    background: black;
    color: var(--main-color);
    filter: drop-shadow(0 0 15px black);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover {
    border-bottom: 3px solid black;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}

  
  /* Advanced Layout */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  
  
  /* Media Queries */
  @media (max-width: 768px) {
    /* Adjust layout for smaller screens */
    .gallery-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .circle-1{
        bottom: 5rem;
        width: 35vw;
        height: 35vw;
    }
}
@media (max-width:991px) {
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{

        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:895px) {


.navbar a:hover{
    color: #fff;
}
.home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
}
.circle-1 {
    width: 45vw;
    height: 45vw;
    top: 18rem;
}
.home-img{
    display: grid;
    border: none;
}
.home-content h3{
    font-size: 2.6rem!important;
}
.home-content h1 {
    font-size: 5rem;
}
.home-img img {
    width: 70vw;
    margin-top: -9rem;
}
.about{
    flex-direction: column-reverse;
}
.about-circle {
    height: 50vw;
    width: 50vw;
}
.about-content {
    margin: 1rem 4rem;
}
.about-img img {
    width: 70vw;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.services h2 {
    margin-bottom: 3rem;
}
.timeline-items::before{
    left: 7px;
}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-last-child(even) {
    padding: 37px;
}
.timeline-dot{
    left: 0;
}
}
@MEDIA (min-width:360px)and (max-width:480px) {
    .circle-1{
        width:45vw;
        height: 48vw;
        top: 14rem;
        left: 14rem;
    }
    .home-img img {
        width: 80vw;
        margin-top: -14rem;
    }
    .about-circle {
        height: 50vw;
        width: 50vw;
        left: 12rem;
        margin-top: 52rem;
    }
    .about-img img {
        width: 83vw;
        margin-top: -6rem;
    }
}